<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Slacker App</h1>
    <h2><%= message %></h2>

	<form action="/rained">
	  <input type="submit" value="Oh! It's Raining">
	</form> 
  </body>
</html>
